@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

#root {
    --box-shadow: 0 2px 16px 0 rgb(0 0 0 / 8%);
    --blue: #15226d;
    --dark-blue: #040c50;
    --orange: #ea4b01;
    --light-blue: #0097cf;
    --red: #e20707;
    --yellow: #f9d98a;
    --subtle-yellow: #f3ce63;
    --vivid-yellow: #ffb700;
    --red: #cf4a60;
    --dark: #444;
    --dark: #232a35;
    --dark-l: #343c4a;
    --white: #fff;
    --light-grey: #f5f5f5;
    --mid-grey: #f3f3f3;
    --subtle-grey: #eee;
    --dark-grey: #6c757d;
    --purple: #472055;
    --light-purple: #e7e2ef;
    --subtle-blue: #9ebcd2;
    --counter-blue: #6388F3;
    --text-color: #252525;
    --green: #30c78d;
}

#root {
    background-color: var(--dark-l);
    min-width: 100%;
    min-height: 100vh;
}

body {
    margin: 0 0;
    padding: 0 0;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    min-width: 100%;
    height: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0 0;
}

hr {
	width: 100%;
	height: 1px;
    background-color: var(--yellow);
	border: 0; 
    margin-bottom: 15px;
}

.nav {
    height: 50px;
    background-color: var(--dark);
    color: var(--light-grey);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 350px;
    margin-bottom: 15px;
    box-shadow: 0 4px 15px 0 rgb(0 0 0 / 8%);
}

.nav h3 {
    display: flex;
    flex: 4;
}

h3 {
    color: var(--light-grey);
}

.nav div {
    display: flex;
    justify-content: space-between;
    flex: 2;
}

.nav span {
    position: absolute;
    top: -10%;
    left: -50%;
    background-color: var(--red);
    font-size: 1rem;
    text-align: center;
    width: 20px;
    height: 20px;
}

.nav a {
    font-weight: 700;
}

.nav a:last-of-type {
    margin-right: 350px;
}

.nav a:first-of-type {
    margin-right: 25px;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
}

.app {
    margin: 0 350px 0 350px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.form-container { 
    margin-bottom: 15px;
    text-transform: uppercase;
}

.form-container input:last-of-type {
    margin-bottom: 15px;
}

.btns {
    display: flex;
    margin-left: -5px;
}

input[type=text] {
    border-radius: 15px;
}

button {
    height: auto;
    width: auto;
    font-weight: 900;
    background-color: var(--green);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 55px;
    border: none;;
    outline: none;
}

.additem {
    height: 50px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.additem i { 
    font-size: 16px;
}

.submit {
    height: 35px;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

.list-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.list {
    border-radius: 15px;
    padding: 15px 15px;
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--dark);
}

.listitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: auto;
    width: 100%;
    margin-bottom: 50px;
    transition: all .3s ease-in-out;
    border: 1px solid transparent;
    background-color: var(--dark-l);
    border-radius: 15px;
    margin: 0 auto;
    text-transform: uppercase;
}

.listitem button {
    height: 35px;
    width: 35px;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--red);
    color: white;
}

.listitem-buttons {
    display: flex;
    flex-direction: row;
    margin: 0 0 15px 0;
}

.check {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    min-width: 250px;
    margin: 0 0 15px 15px;
}

.listitem h3 {
    font-size: 1.4rem;
    margin: 0 0;
    margin: 15px 0 15px 0;
}

.list h2 {
    margin: 0 0;
    margin-bottom: 50px;
    font-size: 1.6rem;
    font-weight: 900;
    text-transform: uppercase;
}

.list span {
    font-size: 1rem;
    margin-left: 15px;
    font-weight: 500;
    color: var(--light-grey);
}

.imagecontainer {
    min-height: 250px;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 500px;
    background-color: #fff;
}

.modal-header .modal-footer {
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.footer {
    margin-top: 15px;
    height: 50px;
    background-color: var(--dark);
    color: var(--light-grey);
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 350px;
    box-shadow: 0 4px 15px 0 rgb(0 0 0 / 8%);
}

@media screen and (max-width: 900px) {
    .nav {
        padding-left: 5px;
    }
    .nav a:last-of-type {
       margin-right: 5px;
    }
    .main {
        justify-content: center;
    }
    .item {
        width: 45%;
        height: 250px;
    }
    .list {
        position: fixed;
        bottom: 0;
        left: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--main);
        color: var(--text-color);
        width: 100%;
        height: 50px;
        min-height: 0;
    }
    .list h2 {
        margin: 0 0;
        font-size: 1.2rem;
        margin-left: 15px;
    }
    .list button {
        margin-left: 15px;
    }
    .listitem {
        display: none;
    }
}